In [11]:
import torch
import torch.nn as nn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [12]:
# r 은 역슬래시로 인식되는 걸 막기 위해 raw string이라는 것을 표시
dataset = pd.read_csv(r'../chap02/data/car_evaluation.csv')
dataset.head(2)

   price  maint doors persons lug_capacity safety output
0  vhigh  vhigh     2       2        small    low  unacc
1  vhigh  vhigh     2       2        small    med  unacc

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         1728 non-null   object
 1   maint         1728 non-null   object
 2   doors         1728 non-null   object
 3   persons       1728 non-null   object
 4   lug_capacity  1728 non-null   object
 5   safety        1728 non-null   object
 6   output        1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [14]:
categorical_columns = ['price', 'maint', 'doors', 'persons', 'lug_capacity', 'safety']
for category in categorical_columns:
    dataset[category] = dataset[category].astype('category')

In [15]:
dataset.head(2)

   price  maint doors persons lug_capacity safety output
0  vhigh  vhigh     2       2        small    low  unacc
1  vhigh  vhigh     2       2        small    med  unacc

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         1728 non-null   category
 1   maint         1728 non-null   category
 2   doors         1728 non-null   category
 3   persons       1728 non-null   category
 4   lug_capacity  1728 non-null   category
 5   safety        1728 non-null   category
 6   output        1728 non-null   object
dtypes: category(6), object(1)
memory usage: 24.7+ KB

In [17]:
dataset.price

0       vhigh
1       vhigh
2       vhigh
3       vhigh
4       vhigh
        ...
1723      low
1724      low
1725      low
1726      low
1727      low
Name: price, Length: 1728, dtype: category
Categories (4, object): ['high', 'low', 'med', 'vhigh']